<!DOCTYPE html>
<html>
<head>
    <title>
        오답노트 목록 보기
    </title>
</head>
<body>
    <form method="POST" action="/incorrect_note">
        <h5> 출력하고자 하는 사용자 번호를 입력하세요.</h5>

<input type="text" name="a_user_id">
        <button type="submit">오답노트 확인하기</button>


    </form>
    <div>
        <p>
            {% if result == None %}
                    {% if a_user_id != None %}
                        <h5>아직 {{a_user_id}}번 사용자에 대한 오답노트가 없습니다. </h5>

                    {% endif %}

                <h5>아직 아무 사용자도 입력이 안되었습니다. </h5>
            {% else %}
                {% for i in result %}
                    {%print(i)%}
                    <br>
                {%endfor %}
            {% endif %}
        </p>
    </div>
</body>
</html>


